body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
}

h1 {
  width: 500px;
  margin: 0 auto 6px;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  line-height: 80px;
}

h2 {
  border-bottom: 2px solid #cccccc;
  padding-bottom: 12px;
}

.avatar {
  border-radius: 50%;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  min-width: 550px;
  height: 250px;
  margin-bottom: 70px;
  padding-top: 30px;
  background-size: cover;
  color: #ffffff;
background: #ffffff url("f748eabfb019d928ded4f50a63409158.png") no-repeat center;
}

.site-header p {
  width: 255px;
  margin: 0 auto 26px;
  text-align: center;
  font-size: 16px;
  line-height: 24px; 
}

.site-header img {
  display: block;
  margin: 0 auto;
}

p1
{
}

table {
  border-collapse: collapse; 
}

th {padding: 10px; 
   border: 1px solid black;
}

td { padding: 10px 50px;
    border: 1px solid black;
}

table#table2{
border-collapse: collapse; 
}

table#table2 th
{background: #7FFFD4;
padding: 30px;
}

table#table2 td
{background: #FFFFE0;
padding: 30px;
}

table#table2 .sered 
{background: #FF0000;
padding: 30px;
}

table#table2 .sered2
{background: #0000CD;
padding: 30px;
}

table#table2 .sered3
{background: #00FF00;
padding: 30px;
}

table#table2 .sered4
{background: #FFFF00;
padding: 30px;
}